*{
    text-align: center;
}

.App{
    background-color: aliceblue;
    height: 100%
}


.anime_containter {

    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

